@charset 'utf-8';
@import '_reset.css';

@function ptr($px, $base: 64px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return ptr($px + 0); // That may fail.
    } @else if (unit($px) == rem) {
        @return $px;
    }
    @return ($px / $base) * 1rem;
}

#bg {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: #191919;
}

article {
    width: 100%;
    height: 100%;
    background: #191919;
    header {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: ptr(96px);
        line-height: ptr(98px);
        font-size: 18px;
        font-family: "Microsoft Yahei"; //Heiti SC
        font-weight: 400;
        color: #fefefe;
        background: #352f21;
        //padding-left: ptr(65px);
        i {
            float: left;
            width: ptr(19px);
            height: ptr(96px);
            margin-left: ptr(33px);
            margin-right: ptr(16px);
            background: url("../img/MS_icon_back.png") center no-repeat;
            background-size: ptr(19px) ptr(30px);
        }
        span {
            float: left;
        }
    }

    #loading {
        position: relative;
        top: 50%;
        left: 50%;
        width: 50%;
        height: ptr(40px);
        margin-left: -25%;
        transform: translate(-50%, -25%);
        -webkit-transform: translate(25%, -80%);
        color: #000;
        font-size: ptr(26px);
        letter-spacing: 2px;
        .loadItem {
            float: left;
            width: ptr(10px);
            height: ptr(40px);
            background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(112, 110, 106, 1)), to(rgba(39, 41, 46, 1)));
            margin: ptr(5px);
        }
    }

    section {
        position: absolute;
        top: ptr(96px);
        left: 0;
        width: 100%;
        padding-bottom: ptr(28px);
        div.classify {
            position: relative;
            opacity: 0;
            height: ptr(321px);
            overflow: hidden;
            margin-bottom: ptr(10px);
            p.spineTitle {
                position: absolute;
                top: ptr(51px);
                width: 100%;
                height: ptr(34px);
                line-height: ptr(34px);
                font-size: 16px;
                color: #eae7e2;
                overflow: hidden;
                i {
                    font-style: normal;
                    padding-left: ptr(33px);
                }
                span.showAll {
                    position: absolute;
                    right: ptr(35px);
                    font-size: 12px;
                    display: inline-block;
                    padding-right: ptr(15px);
                    color: #ccc;
                    background: url("../img/MS_icon_more.png") right center no-repeat;
                    background-size: ptr(10px) ptr(17px);
                    u {
                        right: 0;
                    }
                }
            }
            .swiper-wrapper {
                position: absolute;
                z-index: 1;
                top: ptr(100px);
                width: 100%;
                padding-top: ptr(36px);
                height: ptr(184px);
                overflow-x: scroll;
                white-space: nowrap;
                display: flex;
                box-sizing: content-box;
                transition-property: transform;
                transform: translate3d(0, 0, 0);
                .swiper-slide {
                    float: right;
                    flex-shrink: 0;
                    width: ptr(132px);
                    height: ptr(132px);
                    margin-right: ptr(20px);
                    background: url("../img/MS_icon_asset.png") no-repeat;
                    background-size: 100% 100%;
                    &:nth-of-type(1) {
                        margin-left: ptr(33px);
                    }
                    &:nth-last-of-type(1) {
                        margin-right: ptr(27px);
                    }
                    img.magic {
                        position: absolute;
                        left: ptr(13px);
                        top: ptr(13px);
                        width: ptr(106px);
                        height: ptr(106px);
                        border: none;
                        outline: none;
                        border-radius: ptr(30px);
                    }
                    span.download {
                        position: absolute;
                        z-index: 3;
                        right: ptr(3px);
                        bottom: ptr(4px);
                        display: block;
                        width: ptr(31px);
                        height: ptr(31px);
                        border-radius: 100%;
                        background: url("../img/MS_icon_download.png") center center no-repeat;
                        background-size: ptr(31px) ptr(31px);
                        &.loading {
                            background: url("../img/MS_icon_loading.png") center center no-repeat;
                            background-size: ptr(31px) ptr(31px);
                        }
                    }
                }
                i {
                    float: right;
                    width: ptr(35px);
                    color: rgba(25, 25, 25, 0);
                }
            }
            p.btm {
                position: absolute;
                bottom: 0;
                left: ptr(33px);
                width: 100%;
                height: 2px;
                background: #434343;
            }
        }
    }
}
