@charset 'utf-8';
@import '_reset.css';

@function ptr($px, $base: 64px) {
    @if (unitless($px)) {
        @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
        @return px2em($px + 0); // That may fail.
    }
    @else if (unit($px) == rem) {
        @return $px;
    }
    @return ($px / $base) * 1rem;
}

#bg {
    position: fixed;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: #191919;
}

article {
    width: 100%;
    height:100%;
    background: #191919;
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: ptr(96px);
        line-height: ptr(98px);
        font-size: 18px;
        opacity: 0;
        font-family: "Microsoft Yahei";
        color: #fefefe;
        background: #352f21;
        padding-left: ptr(33px);
        i {
            float: left;
            width: ptr(19px);
            height: ptr(96px);
            margin-right: ptr(18px);
            background: url("../img/MS_icon_back.png") center no-repeat;
            background-size: ptr(19px) ptr(30px);
        }
        span {
            float: left;
            margin-top: 0;
        }
    }

    section {
        position: relative;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: scroll;
        background: #191919;
        ul.scrollWrap {
            overflow: scroll;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            -webkit-overflow-scrolling: touch;
            padding: ptr(193px) ptr(26px) ptr(138px) ptr(30px);
            .item {
                position: relative;
                //float: left;
                width: ptr(146px);
                height: ptr(202px);
                background: url("../img/MS_icon_asset.png") no-repeat;
                background-size: ptr(132px) ptr(132px);
                overflow: hidden;
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
                i {
                    position: relative;
                    z-index: 3;
                    float: left;
                    width: 100%;
                    height: 100%;
                    font-style: normal;
                    font-size: ptr(40px);
                    color: #fff;
                    text-align: center;
                    line-height: ptr(160px);
                }
                &:nth-of-type(1) {
                    -webkit-transform-origin: top center;
                    transform-origin: top center;
                    -webkit-animation-name: swing;
                    animation-name: swing;
                    animation-duration: 0.5s;
                    -webkit-animation-duration: 0.5s;
                    animation-delay: 0.3s;
                    -webkit-animation-delay: 0.3s;
                }
                span.download {
                    position: absolute;
                    right: ptr(16px);
                    bottom: ptr(74px);
                    z-index: 3;
                    display: block;
                    width: ptr(32px);
                    height: ptr(32px);
                    border-radius: 100%;
                    background: url("../img/MS_icon_download.png") center center no-repeat;
                    background-size: ptr(32px) ptr(32px);
                    &.loading {
                        background: url("../img/MS_icon_loading.png") center center no-repeat;
                        background-size: ptr(32px) ptr(32px);
                    }
                }
                img.magic {
                    position: absolute;
                    left: ptr(13px);
                    top: ptr(13px);
                    width: ptr(106px);
                    height: ptr(106px);
                    border: none;
                    outline: none;
                    border-radius: ptr(30px);
                }
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0%;
        left: 0%;
        z-index: 5;
        width: 100%;
        height: ptr(138px);
        background: #191919;
        aside {
            position: absolute;
            z-index: 5;
            bottom: ptr(80px);
            width: 100%;
            height: ptr(50px);
            text-align: center;
            line-height: ptr(50px);
            font-size: 14px;
            color: #ccc;
            opacity: 0;
            background-image: url('../img/loading.gif');
            -webkit-background-size: ptr(60px) ptr(32px);
            background-size: ptr(60px) ptr(32px);
            background-repeat: no-repeat;
            background-position: ptr(299px) center;
        }
        #btm {
            position: absolute;
            bottom: ptr(50px);
            z-index: 5;
            width: 100%;
            height: ptr(54px);
            background: url("../img/MS_icon_line.png") center center no-repeat;
            background-size: ptr(432px) ptr(54px);
        }
    }

}

